{% extends "base.html" %} {% block title %}Файли{% endblock %} {% block
inner_html %}
<h1>{{ greet }}</h1>
{% if files.len() > 0 %}
<ul>
    <li>
        <h3>
            <a href="/download-zip" class="acc"
                >Завантажити все одразу в .zip</a
            >
        </h3>
    </li>
</ul>

<ul>
    {% for file in files %}
    <li><a href="/download/{{file}}">{{file}}</a></li>
    {% endfor %}
</ul>
{% else %}
<h2>
    <span class="e">Майже помилка: </span>Файлів немає, схоже хтось їх видалив
    або не додав з самого початку
</h2>
{% endif %} {% endblock %}
