{% extends "base.html" %} {% block title %}Вхід{% endblock %} {% block
inner_html %}
<div class="cform">
    <h2>
        Введіть ключ доступу
        <noscript>
            <div class="e">
                <p>
                    Не знаю яким чином але ваш браузер не підтримує JS. Ці
                    допотопні технології в наш сучасний час підтримує будь який
                    тостер... тому... зробіть щось з цим. Також ви вірогідно
                    просто не зможете ввійти без цього
                </p>
            </div>
        </noscript>
    </h2>
    {% if error != "" %}
    <p class="e">{{ error }}</p>
    {% endif %}
    <form method="post" action="/login">
        <div class="mb">
            <label for="key">Ключ доступу:</label>
            <input
                type="password"
                id="key"
                name="key"
                autocomplete="off"
                readonly
                onfocus="this.removeAttribute('readonly');"
                placeholder="Код в коментарі до замовлення"
                data-lpignore="true"
            />
            <input type="hidden" name="csrf_token" value="{{ csrf_token }}" />
        </div>
        <button type="submit" class="pa">Увійти</button>
    </form>
</div>
<script>
    setTimeout(function () {
        document.getElementById("key").focus();
    }, 100);
</script>
{% endblock %}
